---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const allNews = (await getCollection("news")).sort((a, b) => new Date(b.data.date) - new Date(a.data.date)); // Sort descending by date



---


<Base title="News">
  <div class="container">
    <h2><span>News</span></h2>
    <ul>
      {allNews.map((item) => (
        <li>
          <article>
            <h3>{item.data.title}</h3>
            <time datetime={item.data.date.toISOString()}>{item.data.date.toDateString()}</time>
            <div class="md" set:html={item.body}></div>
          </article>
        </li>
      ))}
    </ul>
  </div>
</Base>
<style>
  ul > li:not(:last-child) {
    border-bottom: solid grey 1px;
    padding-bottom: var(--sp-l);
    margin-bottom: var(--sp-xl);
  }

  h3 {
    margin-bottom: var(--sp-2xs);
  }

  time {
    display: block;
    margin-bottom: var(--sp-l);
  }
</style>
