---
import Markdown from "../../layouts/Markdown.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
    const posts = await getCollection("foundations");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Markdown>
    <a href="/#foundations">Foundations</a>
    <h2><span>{post.data.title}</span></h2>
    <Content />
</Markdown>

<style>
    a {
        display: block;
        margin-bottom: var(--sp-m);
    }
</style>
